<template name="once-attribute-example">
    <!--This will be rendered multiple times-->
   <script src="path/to/js-file.js"></script>

   <!--This will be rendered once-->
   <script src="path/to/js-file-once.js" m-once></script>
   
   <link href="path/to/css.css">
   
   <script>
       //This is also rendered multiple times
       var renderedMultipleTimes = 'component';
   </script>

    <script m-once>
        var renderedOnce = 'once';
    </script>
    
    <!--styles are rendered once automatically-->
   <style m-scoped>
       .color{color:green}
    </style>
</template>