<html lang="en">

  <head>
    <title>JSRender-Templates</title>
  </head>

  <body>
    <!-- 
        In this example we use jsrender-templates. Be aware that 
        you have to install and add the modulerizr-jsrender-plugin before. 
      -->

    <div data-v-d5602fa9 id="d5602fa9" data-component="jsrender-template-basic">Attribute param1: {{:param1}},<br data-v-d5602fa9>
      Attribute param2: {{:param2}}
    </div>

    <div data-v-615bea1f id="615bea1f" data-component="jsrender-template-if">{{if cond1}}
      condition1 is true
      {{/if}}
      {{if !cond1}}
      condition1 is false
      {{/if}}
    </div>

    <div data-v-c1308693 id="c1308693" data-component="jsrender-template-prerenderscript">
      <div data-v-c1308693>
        <h1 data-v-c1308693>His name is {{:name}}</h1>

        His kids are called
        <ul data-v-c1308693>
          {{for kids}}
          <li data-v-c1308693>{{&gt;name}}</li>
          {{/for}}
        </ul>
      </div>

    </div>


  </body>

</html>